@{
    ViewData["Title"] = "Catagory Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h3>Choose an Item below:</h3>
        <div>
            <button class="user-info-update" type="button" onclick="javascript:openlocation('/Users/Index')">UPDATE USERS INFO</button>
            <button class="user-fps" type="button" onclick="javascript:openlocation('/Fpsblasts/Index')">UPDATE FPS STATUS</button>
            <button class="user-mmo" type="button" onclick="javascript:openlocation('/Mmoslashers/Index')">UPDATE MMO STATUS</button>
            <button class="user-rpg" type="button" onclick="javascript:openlocation('/RpgstoryMakers/Index')">UPDATE RPG STATUS</button>
        </div>
    </div>
</div>