@{
    ViewData["Title"] = "Catagory Page New Info";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <div>
        <h3>Pick what info you wish to add.</h3>
        <div>
            <button class="user-fps-create" type="button" onclick="javascript:openlocation('/Fpsblasts/Update/0')">CREATE FPS STATUS</button>
            <button class="user-mmo-create" type="button" onclick="javascript:openlocation('/Mmoslashers/Update/0')">CREATE MMO STATUS</button>
            <button class="user-rpg-create" type="button" onclick="javascript:openlocation('/RpgstoryMakers/Update/0')">CREATE RPG STATUS</button>
        </div>
    </div>
</div>