@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Suto Game Studio</h1>
    <div>
        <h3>Choose an Item below:</h3>
        <div>
            <button type="button" onclick="javascript:openlocation('/Home/VerifyUser')">ADD NEW INFO</button>
            <button type="button" onclick="javascript:openlocation('/Home/Catagory')">UPDATE A CUSTOMERS RECORD</button>
        </div>
    </div>
</div>
