@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Pick the Desired option</h1>
    <div>
        <h3>If Customer does not exist create New Customer first!</h3>
        <h3>To add information to existing Customer select Create Status Records!</h3>
        <div>
            <button type="button" onclick="javascript:openlocation('/Users/Update/0')">CREATE NEW CUSTOMER</button>
            <button type="button" onclick="javascript:openlocation('/Home/CreateInfo')">CREATE STATUS RECORDS</button>
        </div>
    </div>
</div>